body{
  margin:0;
  padding:20px;
  font-family:Arial;
  background:linear-gradient(120deg,#ff9a9e,#fad0c4);
  text-align:center;
}

h1{
  color:white;
  font-size:40px;
}

.gallery{
  margin-top:30px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  padding:20px;
}

.gallery img{
  width:100%;
  border-radius:15px;
  box-shadow:0 10px 20px rgba(0,0,0,0.3);
  transition:0.3s;
}

.gallery img:hover{
  transform:scale(1.1);
}

.surprise-btn{
  padding:14px 30px;
  font-size:18px;
  border:none;
  border-radius:30px;
  background:linear-gradient(45deg,#ff416c,#ff4b2b);
  color:white;
  cursor:pointer;
  transition:0.3s;
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

.surprise-btn:hover{
  transform:scale(1.1);
}